@page "/shelters"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using PawPal_integration.Domain
@using PawPal_integration.Data
@inject PawPalContext Context
@attribute [Authorize]

<PageTitle>Shelters</PageTitle>

<h1>Shelters</h1>

<AuthorizeView Roles="Administrator">
    <p>
        <a href="shelters/create" class="btn btn-primary">Create New</a>
    </p>
</AuthorizeView>

@if (Shelters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shelter in Shelters)
            {
                <tr>
                    <td>@shelter.Name</td>
                    <td>@shelter.Address</td>
                    <td>
                        <a href="@($"shelters/details?id={shelter.Id}")">Details</a>
                        <AuthorizeView Roles="Administrator">
                            | <a href="@($"shelters/edit?id={shelter.Id}")">Edit</a> |
                            <a href="@($"shelters/delete?id={shelter.Id}")">Delete</a>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Shelter> Shelters = new();

    protected override async Task OnInitializedAsync()
    {
        Shelters = await Context.Shelters.ToListAsync();
    }
}